.book{
    width:100%;
    height:150px;
    border-radius:10px;
    border-color:antiquewhite;
    border-style:solid;
    padding-top:20px;
    display:flex;
}

.row{
    padding:20px;
}

h2{
    color:rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;

}
p{
    color:rgb(0, 0, 0);
}

h1{
    text-align: center;
}

.col-12{
    background-color:antiquewhite;
    font-size: large;
}